@page
@model Web.Pages.Group.DetailsModel

@{
    ViewData["Title"] = "安全组 - " + Model.GroupItem.Name;
}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3><i class="fa fa-flag-checkered" aria-hidden="true"></i>安全组 - @Model.GroupItem.Name</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>
            &gt; <a asp-page="/Group/Index">安全组</a>
            &gt; <a asp-page="/Group/Details" asp-route-id="@Model.GroupItem.Id">@Html.DisplayFor(model => model.GroupItem.Name) </a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">
        <p>
            @if (await Model.CanEdit())
            {
                <a class="btn btn-edit-item" asp-page="Edit" asp-route-id="@Model.GroupItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>编辑本单位
                </a>
                <a class="btn btn-new-item" asp-page="../Vehicle/Create" asp-route-groupId="@Model.GroupItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">
                    <i class="fa fa-plus" aria-hidden="true"></i> 新增车辆
                </a>
                <a class="btn btn-new-item" asp-page="../Driver/Create" asp-route-groupId="@Model.GroupItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">
                    <i class="fa fa-plus" aria-hidden="true"></i> 新增驾驶员
                </a>
                <a class="btn btn-new-item" asp-page="../Secureman/Create" asp-route-groupId="@Model.GroupItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">
                    <i class="fa fa-plus" aria-hidden="true"></i> 新增安全员
                </a>
                <a class="btn btn-new-item" asp-page="../UserFile/Create" asp-route-groupId="@Model.GroupItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">
                    <i class="fa fa-plus" aria-hidden="true"></i> 下发文件
                </a>
                <a class="btn btn-del-item" asp-page="Delete" asp-route-id="@Model.GroupItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> 删除本单位
                </a>
            }
            @if (await Model.CanUpload())
            {
                <a class="btn btn-new-item" asp-page="../UserFile/Create" asp-route-groupId="@Model.GroupItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">
                    <i class="fa fa-plus" aria-hidden="true"></i> 上传文件
                </a>

            }

        </p>
        <hr />
        <br />
        <h4><i class="fa fa-info-circle" aria-hidden="true"></i>基本信息</h4>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        监理中队
                    </th>
                    <th>
                        监理民警
                    </th>
                    <th>
                        单位状态
                    </th>
                    <th>
                        注册车辆数
                    </th>
                    <th>
                        驾驶员数
                    </th>
                    <th>
                        所属街道
                    </th>
                    <th>
                        单位类型
                    </th>
                    <th>
                        负责人
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.PoliceOffice)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.Policeman)
                    </td>
                    <td>
                        @(Model.GroupItem.IsValid ? "正常" : "预警")
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.VehicleCount)
                        @if (Model.GroupItem.VehicleInvalidCount > 0)
                        {
                            <span style="color:darkred">( 预警状态 @Model.GroupItem.VehicleInvalidCount )</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.DriverCount)
                        @if (Model.GroupItem.DriverInvalidCount > 0)
                        {
                            <span style="color:darkred">( 预警状态 @Model.GroupItem.DriverInvalidCount )</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.TownName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.ChiefName) <span style="color:gray">( @Html.DisplayFor(model => model.GroupItem.ChiefTel) )</span>
                    </td>

                </tr>

            </tbody>
        </table>
        <hr />

        <br />

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-list" aria-hidden="true"></i><b>详细信息</b></a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-truck" aria-hidden="true"></i><b>车辆列表</b></a></li>
                <li role="presentation"><a href="#driver" aria-controls="driver" role="tab" data-toggle="tab"><i class="fa fa-id-card-o" aria-hidden="true"></i><b>驾驶员列表</b></a></li>
                <li role="presentation"><a href="#secureman" aria-controls="secureman" role="tab" data-toggle="tab"><i class="fa fa-address-book-o" aria-hidden="true"></i><b>安全员列表</b></a></li>

                <li role="presentation"><a href="#userfile" aria-controls="userfile" role="tab" data-toggle="tab"><i class="fa fa-file-archive-o" aria-hidden="true"></i><b>用户文件</b></a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-picture-o" aria-hidden="true"></i><b>证照附件</b></a></li>

            </ul>
            <div style="border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;padding:20px;">
                <!-- Tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane" id="profile">
                        <br />
                        <div class="row">
                            <div class="col-md-9">
                                <h4><i class="fa fa-truck" aria-hidden="true"></i>车辆信息列表</h4>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-edit-item" href="/Vehicle/ExportExcel?groupId=@Model.GroupItem.Id">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> 导出电子表格
                                </a>
                            </div>
                        </div>

                        <hr />
                        <table id="list-table" class="table table-hover">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicles[0].License)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicles[0].Usage)
                                    </th>


                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicles[0].Type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicles[0].Color)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicles[0].YearlyAuditDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicles[0].DumpDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicles[0].DriverName)
                                    </th>
                                   
                                    <th>
                                        @Html.DisplayNameFor(model => model.Vehicles[0].TownName)
                                    </th>





                                    <th width="115"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Vehicles)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.License)
                                            @if (!item.IsValid)
                                            {
                                                <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Usage)
                                        </td>
                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Type)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Color)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.YearlyAuditDate)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DumpDate)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DriverName)
                                            <span style="color:gray">@Html.DisplayFor(modelItem => item.DriverTel)</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TownName)

                                        </td>

                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-view-item btn-sm" asp-page="../Vehicle/Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a>
                                                @if (await Model.CanEdit())
                                                {
                                                    <button type="button" class="btn btn-view-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">向下弹出</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a asp-page="../Vehicle/Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a asp-page="../Vehicle/Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编 辑 </a></li>
                                                        <li><a class="danger" asp-page="../Vehicle/Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"> <i class="fa fa-trash-o" aria-hidden="true"></i>删 除 </a></li>

                                                    </ul>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                    <div role="tabpanel" class="tab-pane" id="driver">
                        <br />
                        <div class="row">
                            <div class="col-md-9">
                                <h4><i class="fa fa-id-card-o" aria-hidden="true"></i>驾驶员列表</h4>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-edit-item" href="/Driver/ExportExcel?groupId=@Model.GroupItem.Id">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> 导出电子表格
                                </a>
                            </div>
                        </div>


                        <hr />

                        <table class="table  table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Drivers[0].Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Drivers[0].Gender)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Drivers[0].IdCardNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Drivers[0].LicenseType)
                                    </th>

                                 




                                    <th>
                                        @Html.DisplayNameFor(model => model.Drivers[0].LicenseExpiredDate)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Drivers[0].VehiclesRegistered)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Drivers[0].Tel)
                                    </th>
                                    <th width="115"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Drivers)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                            @if (!item.IsValid)
                                            {
                                                <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdCardNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LicenseType)
                                        </td>
                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LicenseExpiredDate)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehiclesRegistered)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tel)
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-view-item btn-sm" asp-page="../Driver/Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a>
                                                @if (await Model.CanEdit())
                                                {
                                                    <button type="button" class="btn btn-view-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">向下弹出</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a asp-page="../Driver/Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a asp-page="../Driver/Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编 辑 </a></li>
                                                        <li><a class="danger" asp-page="../Vehicle/Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"> <i class="fa fa-trash-o" aria-hidden="true"></i>删 除 </a></li>

                                                    </ul>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="secureman">
                        <br />
                        <h4><i class="fa fa-address-book-o" aria-hidden="true"></i>安全员列表</h4>

                        <hr />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Securemans[0].Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Securemans[0].Tel)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Securemans[0].Company)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Securemans[0].Title)
                                    </th>

                                    <th width="110"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Securemans)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tel)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Company)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>

                                        <td>
                                            <div class="btn-group">
                                                @if (await Model.CanEdit())
                                                {
                                                    <a class="btn btn-primary btn-sm" asp-page="../Secureman/Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"><i class="fa fa-trash-o" aria-hidden="true"></i>删 除 </a>


                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                    <div role="tabpanel" class="tab-pane" id="userfile">
                        <br />
                        <h4><i class="fa fa-file-archive-o" aria-hidden="true"></i>上级文件</h4>

                        <hr />
                        <table class="table">
                            <thead>
                                <tr>


                                    <th>
                                        @Html.DisplayNameFor(model => model.GlobalFiles[0].Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.GlobalFiles[0].FileName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.GlobalFiles[0].UploadDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.GlobalFiles[0].SizeString)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.GlobalFiles[0].Visibility)
                                    </th>
                                    <th width="115"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GlobalFiles)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FileName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UploadDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SizeString)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Visibility)
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-view-item btn-sm" asp-page="../UserFile/Download" asp-route-id="@item.Id"><i class="fa fa-download" aria-hidden="true"></i> 下 载</a>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <br />
                        <h4><i class="fa fa-file-archive-o" aria-hidden="true"></i>用户文件</h4>

                        <hr />
                        <table class="table">
                            <thead>
                                <tr>


                                    <th>
                                        @Html.DisplayNameFor(model => model.UserFiles[0].Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserFiles[0].FileName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserFiles[0].UploadDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserFiles[0].SizeString)
                                    </th>

                                    <th width="115"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.UserFiles)
                                {
                                    <tr>

                                        <td>
                                            <i class="fa fa-file-archive-o" aria-hidden="true"></i>    @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FileName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UploadDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SizeString)
                                        </td>

                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-view-item btn-sm" asp-page="../UserFile/Download" asp-route-id="@item.Id"><i class="fa fa-download" aria-hidden="true"></i> 下 载</a>
                                                @if (await Model.CanEdit())
                                                {
                                                    <button type="button" class="btn btn-view-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">向下弹出</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="danger" asp-page="../UserFile/Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"> <i class="fa fa-trash-o" aria-hidden="true"></i>删 除 </a></li>

                                                    </ul>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                    <div role="tabpanel" class="tab-pane  active" id="home">
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <img width="250" src="data:image;base64,@Model.GroupItem.PhotoMainBase64" />
                            </div>
                            <div class="col-md-9">
                                <h4>
                                    <i class="fa fa-cloud" aria-hidden="true"></i>
                                    单位介绍
                                </h4>

                                <div style="padding:30px;">
                                    @Html.Raw(Model.GroupItem.Comment)
                                </div>
                            </div>

                        </div>


                        <br />
                        <h4><i class="fa fa-list" aria-hidden="true"></i>详细信息</h4>

                        <hr />

                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.GroupItem.Id)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.GroupItem.Id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.GroupItem.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.GroupItem.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.GroupItem.Type)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.GroupItem.Type)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.GroupItem.Address)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.GroupItem.Address)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.GroupItem.RegisterAddress)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.GroupItem.RegisterAddress)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.GroupItem.License)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.GroupItem.License)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.GroupItem.ChiefName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.GroupItem.ChiefName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.GroupItem.ChiefTel)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.GroupItem.ChiefTel)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.GroupItem.PoliceOffice)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.GroupItem.PoliceOffice)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.GroupItem.Policeman)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.GroupItem.Policeman)
                            </dd>
                        </dl>
                        <br />
                        <hr />
                        <br />


                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">

                        <br />
                        <h4><i class="fa fa-picture-o" aria-hidden="true"></i>证照附件</h4>

                        <hr />

                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.GroupItem.PhotoMain)</div>
                            <div class="panel-body">
                                <img src="data:image;base64,@Model.GroupItem.PhotoMainBase64" />
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.GroupItem.ExtraPhoto1)</div>
                            <div class="panel-body">
                                <img src="data:image;base64,@Model.GroupItem.ExtraPhoto1Base64" />
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.GroupItem.ExtraPhoto2)</div>
                            <div class="panel-body">
                                <img src="data:image;base64,@Model.GroupItem.ExtraPhoto2Base64" />
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.GroupItem.ExtraPhoto3)</div>
                            <div class="panel-body">
                                <img src="data:image;base64,@Model.GroupItem.ExtraPhoto3Base64" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
