@page
@model Web.Pages.Group.DetailsModel

@{
    ViewData["Title"] = Html.DisplayFor(model => model.GroupItem.Name) + "详细信息";
}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>@Html.DisplayFor(model => model.GroupItem.Name) </h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>
            &gt; <a asp-page="/Group/Index">安全单位</a>
            &gt; <a asp-page="/Town/Details?Id=@Model.GroupItem.Id">@Html.DisplayFor(model => model.GroupItem.Name) </a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">

        <p>
            @if (await Model.CanEdit())
            {
                <a class="btn btn-new-item" asp-page="../Group/Create"><span class="glyphicon glyphicon-plus"></span> 新增安全单位</a>
                <a class="btn btn-new-item" asp-page="../Vehicle/Create"><span class="glyphicon glyphicon-plus"></span> 新增车辆</a>
                <a class="btn btn-new-item" asp-page="../Driver/Create"><span class="glyphicon glyphicon-plus"></span> 新增驾驶员</a>
            }
            <a class="btn btn-default" asp-page="Index"><span class="glyphicon glyphicon-level-up"></span> 返回列表</a>
        </p>
        <hr />
        <h4>基本信息</h4>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
              
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupItem.VehicleCount)
                    </th>
                    <th>
                      
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        总数
                    </td>
                    <td>
                      
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.VehicleCount)
                    </td>
                    <td>
                     
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        其中：处于安全状态
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.ValidCount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.VehicleCount)
                    </td>
                    <td>
                     
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        处于危险状态
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.InvalidCount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.GroupItem.VehicleCount)
                    </td>
                    <td>
                     
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />

        <br />

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">车辆列表</a></li>
                <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">司机列表</a></li>
                <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">文件附件</a></li>
                <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">详细信息</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">图片附件</a></li>

            </ul>
            <br />
            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="profile">
                    <h4>注册车辆列表</h4>
                    <p>
                        <a asp-page="../Vehicle/Create">创建新注册车辆</a>
                    </p>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>


                                <th>
                                    @Html.DisplayNameFor(model => model.GroupItem.Vehicles[0].License)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GroupItem.Vehicles[0].Brand)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GroupItem.Vehicles[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GroupItem.Vehicles[0].Color)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GroupItem.Vehicles[0].Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GroupItem.Vehicles[0].LastRegisterDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GroupItem.Vehicles)
            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.License)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Brand)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Color)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastRegisterDate)
                                    </td>
                                    <td>
                                        <a asp-page="../Vehicle/Details" asp-route-id="@item.Id">查看详细</a> |
                                        <a asp-page="../Vehicle/Edit" asp-route-id="@item.Id">编辑</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

                <div role="tabpanel" class="tab-pane " id="home">
                    <h4>详细信息</h4>

                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.GroupItem.Id)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.GroupItem.Id)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.GroupItem.Address)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.GroupItem.Address)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.GroupItem.RegisterAddress)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.GroupItem.RegisterAddress)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.GroupItem.Type)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.GroupItem.Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GroupItem.ChiefName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.GroupItem.ChiefName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GroupItem.ChiefTel)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.GroupItem.ChiefTel)
                        </dd>

                    </dl>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">

                    <h4>图片附件</h4>

                    <hr />

                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.DisplayNameFor(model => model.GroupItem.PhotoMain)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.GroupItem.PhotoMain" />
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.DisplayNameFor(model => model.GroupItem.PhotoWarranty)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.GroupItem.PhotoWarranty" />
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.DisplayNameFor(model => model.GroupItem.PhotoSecurity)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.GroupItem.PhotoSecurity" />
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
