@page
@model Web.Pages.Group.IndexModel

@{
    ViewData["Title"] = "全部安全组 列表";
}
<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3><i class="fa fa-flag-checkered" aria-hidden="true"></i>全部安全组 列表</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/">主页</a>&gt;
            <a asp-page="/Town">安全组</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">

        <p>
            @if (await Model.CanEdit())
    {

        <a class="btn btn-new-item" asp-page="Create" asp-route-returnUrl="@Request.Path">
            <i class="fa fa-plus" aria-hidden="true"></i> 创建新安全组
        </a>
        <a class="btn btn-edit-item" asp-page="Query" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path)"> <i class="fa fa-search" aria-hidden="true"></i> 查找安全组</a>
        <a class="btn btn-edit-item" href="/Group/ExportExcel">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i> 导出电子表格
        </a>
}
        </p>
        <hr />

        <table id="group-table" class="table table-hover">
            <thead>
                <tr>


                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].Code)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].ChiefName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].TownName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].License)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].VehicleCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].DriverCount)
                    </th>
                    <th width="115"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Groups)
            {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                            @if (!item.IsValid)
                            {
                                <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i>
                            }
                        </td>

                        <td>
                            <b>@Html.DisplayFor(modelItem => item.ChiefTitle)</b> @Html.DisplayFor(modelItem => item.ChiefName)
                            <span style="color:gray"> (@Html.DisplayFor(modelItem => item.ChiefTel))</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TownName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.License)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DriverCount)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-view-item btn-sm" asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a>
                                @if (await Model.CanEdit())
                                {
                                    <button type="button" class="btn btn-view-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">向下弹出</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a asp-page="./Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Request.Path"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编 辑 </a></li>
                                        <li><a asp-page="./Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Request.Path"> <i class="fa fa-trash-o" aria-hidden="true"></i>删 除 </a></li>

                                    </ul>
                                }
                            </div>
                        </td>
                    </tr>
                }
                <tr id="loading-mark" hidden>
                    <td colspan="8" align="center">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        <span class="sr-only">正在加载...</span>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</section>
<script id="groupRowTmpl" type="text/x-jsrender">
    <tr>
        <td>                {{:code}}            </td>

        <td>
            {{:name}}

            <i class="fa fa-exclamation-circle text-danger" aria-hidden="true" {{:hiddenText}}></i>

        </td>

        <td>
            <b>{{:chiefTitle}}</b> {{:chiefName}}
            <span style="color:gray"> ( {{:chiefTel}})</span>
        </td>
        <td>                {{:townName}}            </td>
        <td>                {{:license}}            </td>
        <td>                {{:vehicleCount}}            </td>
        <td>                {{:driverCount}}            </td>
        <td>
            <div class="btn-group">
                <a class="btn btn-view-item btn-sm" href="/Group/Details?id={{:id}}"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a>
                @if (await Model.CanEdit())
                {
                    <button type="button" class="btn btn-view-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">向下弹出</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/Group/Details?id={{:id}}"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/Group/Edit?id={{:id}}&returnUrl=@Request.Path"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编 辑 </a></li>
                        <li><a href="/Group/Delete?id={{:id}}&returnUrl=@Request.Path"> <i class="fa fa-trash-o" aria-hidden="true"></i>删 除 </a></li>

                    </ul>
                }
            </div>
        </td>
    </tr>

</script>

@section Scripts {

    <script type="text/javascript">

        var pageSize = 20;
        var pageIndex = 0;
        var loading = false;
        var completed = false;


        $(document).ready(function () {
            GetData();

            $(window).scroll(function () {
                if ($(window).scrollTop() ==
                    $(document).height() - $(window).height()) {
                    if (loading == false && completed == false) {
                        GetData();
                    }
                }
            });
        });

        function GetData() {
            $.ajax({
                type: 'GET',
                url: '/Group/LoadData',
                data: { "page": pageIndex, "pageSize": pageSize },
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        if (data.length == 0) {
                            completed = true;
                            return;
                        }

                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            if (item.isValid) {
                                item.hiddenText = "style='display:none'";
                            }
                            var tmpl = $.templates('#groupRowTmpl')
                            var trHtml = tmpl.render(item);
                            $("#group-table tr:last").before(trHtml);

                        }
                        pageIndex++;
                    }

                },
                beforeSend: function () {
                    loading = true;
                    $("#loading-mark").show();
                },
                complete: function () {
                    loading = false;
                    $("#loading-mark").hide();
                },
                error: function () {
                    alert("Error while retrieving data!");
                }
            });
        }
    </script>


}