@page
@model Web.Pages.Group.IndexModel

@{
    ViewData["Title"] = "全部安全单位 列表";
}
<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>全部安全单位 列表</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/">主页</a>&gt;
            <a asp-page="/Town">安全单位</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">

        <p>
       @if (await Model.CanEdit())
        {

          <a class="btn btn-new-item" asp-page="Create"> <span class="glyphicon glyphicon-plus"></span> 创建新安全单位</a>
        }
        </p>
        <hr />
       
        <table class="table table-hover">
            <thead>
                <tr>

                   
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].TownName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].ChiefName)
                    </th>
                 
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].License)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].VehicleCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].InvalidCount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Groups)
            {
                    <tr>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TownName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            <b>@Html.DisplayFor(modelItem => item.ChiefTitle)</b> @Html.DisplayFor(modelItem => item.ChiefName) 
                            <span style="color:gray"> (@Html.DisplayFor(modelItem => item.ChiefTel))</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.License)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvalidCount)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary btn-sm" asp-page="./Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-zoom-in"></span> 查 看 </a>
                                @if (await Model.CanEdit())
                                {
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">向下弹出</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a asp-page="./Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-zoom-in"></span> 查 看 </a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a asp-page="./Edit" asp-route-id="@item.Id"> <span class="glyphicon glyphicon-edit"></span> 编 辑 </a></li>
                                        <li><a class="danger" asp-page="./Delete" asp-route-id="@item.Id"> <span class="glyphicon glyphicon-remove"></span> 删 除 </a></li>

                                    </ul>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>