@page
@model Web.Pages.Group.QueryModel

@{
    ViewData["Title"] = "查找安全组";
}
<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3><i class="fa fa-search"></i>查找安全组</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/">主页</a>&gt;
            <a asp-page="/Group">安全组</a>
            <a asp-page="/Group/Query">查找安全组</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        安全组 查找条件:@ViewBag.QueryString
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form id="search-form" class="form-horizontal col-sm-10" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="iptFilterName" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="iptFilterName" placeholder="名称" asp-for="FilterModel.Name">
                            </div>
                            <label for="iptFilterIdCard" class="col-sm-2 control-label">类型</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="iptFilterIdCard" placeholder="类型" asp-for="FilterModel.Type">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="iptFilterIdCard" class="col-sm-2 control-label">负责人</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="iptFilterIdCard" placeholder="负责人" asp-for="FilterModel.ChiefName">
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="iptFilterIdCard" class="col-sm-2 control-label">监理中队</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="iptFilterIdCard" placeholder="监理中队" asp-for="FilterModel.PoliceOffice">
                            </div>

                            <label for="iptFilterIdCard" class="col-sm-2 control-label">监理民警</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="iptFilterIdCard" placeholder="监理民警" asp-for="FilterModel.Policeman">
                            </div>
                        </div>
                        <div class="form-group">

                            <label for="iptFilterIdCard" class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-4">
                                <select asp-for="FilterModel.Status" class="form-control" asp-items="@Html.GetEnumSelectList<Socona.ImVehicle.Infrastructure.Tools.ModelStatus>()"></select>
                            </div>
                            <label for="iptFilterIdCard" class="col-sm-2 control-label">街道</label>
                            <div class="col-sm-4">
                                <select id="town_select" asp-for="FilterModel.TownId" class="form-control" asp-items="ViewBag.TownList">
                                    <option>请选择街道 </option>
                                </select>
                            </div>
                        </div>
                        <input id="flag-export-excel" type="hidden" asp-for="FilterModel.ExportExcel" />


                        <div class="form-group">
                            <div class="col-sm-4">
                                <button id="btn-search" class="btn btn-edit-item" type="button"><i class="fa fa-search"></i> 查 找</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-9">


                <h4>共找到 @Model.Groups?.Count 条记录</h4>
            </div>
            <div class="col-md-2">
                <button class="btn btn-edit-item" id="btn-export-excel">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> 导出电子表格
                </button>
            </div>
        </div>
        <hr />

        <table class="table table-hover">
            <thead>
                <tr>


                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].Code)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].ChiefName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].PoliceOffice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].Policeman)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].VehicleCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].DriverCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Groups[0].TownName)
                    </th>
                    <th width="115"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Groups)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                            @if (!item.IsValid)
                            {
                                <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i>
                            }
                        </td>

                        <td>
                            <b>@Html.DisplayFor(modelItem => item.ChiefTitle)</b> @Html.DisplayFor(modelItem => item.ChiefName)
                            <span style="color:gray"> (@Html.DisplayFor(modelItem => item.ChiefTel))</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PoliceOffice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Policeman)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DriverCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TownName)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-view-item btn-sm" asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a>
                                @if (await Model.CanEdit())
                                {
                                    <button type="button" class="btn btn-view-item btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">向下弹出</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a asp-page="./Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Request.Path"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编 辑 </a></li>
                                        <li><a asp-page="./Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Request.Path"> <i class="fa fa-trash-o" aria-hidden="true"></i>删 除 </a></li>

                                    </ul>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
@section Scripts {

    <script>
        $("#btn-search").click(function () {
            $("#flag-export-excel").val(false);
            $("#search-form").submit();
        });
        $("#btn-export-excel").click(function () {
            $("#flag-export-excel").val(true);
            $("#search-form").submit();
        });
    </script>

}
