@page
@model Web.Pages.Secureman.DeleteModel

@{
    ViewData["Title"] = "删除安全员";
}
<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>确认删除如下安全员吗？</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>&gt;
            <a asp-page="/Group/Index">安全单位</a>&gt;
            <a asp-page="/Secureman/Delete" asp-route-id="@Model.SecurityPerson.Id">删除安全员 @Model.SecurityPerson.Name</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">
        <div class="row">
            <h3></h3>
        </div>
        <div class="btn-toolbar">

            <div class="btn-group">

                <form method="post" >
                    <input type="hidden" asp-for="SecurityPerson.Id" />
                    <input type="hidden" asp-for="ReturnUrl" />
                    <button class="btn btn-del-item" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i>确 认 删 除</button>

                </form>

            </div>
            <div class="btn-group">

                <a class="btn btn-nav-back" href="@Model.ReturnUrl"><i class="fa fa-reply" aria-hidden="true"></i></i>放 弃</a>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">【删除】安全单位信息  @Model.SecurityPerson.Name</h3>
                    </div>
                    <div class="panel-body" style="padding-right:60px;">


                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.SecurityPerson.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.SecurityPerson.Name)<span style="color:gray">(@Html.DisplayFor(model => model.SecurityPerson.IdCardNum))</span>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.SecurityPerson.Town.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.SecurityPerson.Town.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.SecurityPerson.Group.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.SecurityPerson.Group.Name)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>