 @page
@model Web.Pages.Driver.CreateModel

@{
    ViewData["Title"] = "新增驾驶员";
}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3><i class="fa fa-pencil-square-o"></i>新增驾驶员</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/">主页</a>&gt;
            <a asp-page="/Driver">驾驶员</a>&gt;
            <a asp-page="/Driver/Create">新增驾驶员</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-edit-item" type="submit" form="newForm"><i class="fa fa-floppy-o"></i> 保 存</button>

            </div>
            <div class="btn-group">

                <a class="btn btn-nav-back" href="@Model.ReturnUrl"><i class="fa fa-reply" aria-hidden="true"></i>放 弃</a>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">新驾驶员信息</h3>
                    </div>
                    <div class="panel-body" style="padding-right:60px;">
                        <form class="form-horizontal" method="post" enctype="multipart/form-data" id="newForm">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                @if (await Model.IsAdmin())
        {
                        <label asp-for="DriverItem.TownId" class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <select id="town_select" asp-for="DriverItem.TownId" class="form-control" asp-items="ViewBag.TownList">
                                <option>请选择街道 </option>
                            </select>
                            <span asp-validation-for="DriverItem.TownId" class="text-danger"></span>
                        </div>

}
                                <label asp-for="DriverItem.GroupId" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select id="group_select" asp-for="DriverItem.GroupId" class="form-control" asp-items="ViewBag.GroupList">
                                        <option>请选择安全单位 </option>
                                    </select>
                                    <span asp-validation-for="DriverItem.GroupId" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="form-group">
                                <label asp-for="DriverItem.Name" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="DriverItem.Name" class="form-control" />
                                    <span asp-validation-for="DriverItem.Name" class="text-danger"></span>
                                </div>
                                <label asp-for="DriverItem.Gender" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select asp-for="DriverItem.ResidentType" asp-items="@Html.GetEnumSelectList<GenderType>()" class="form-control"></select>
                                    <span asp-validation-for="DriverItem.Gender" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="DriverItem.IdCardNumber" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="DriverItem.IdCardNumber" class="form-control" />
                                    <span asp-validation-for="DriverItem.IdCardNumber" class="text-danger"></span>
                                </div>
                                <label asp-for="DriverItem.Tel" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="DriverItem.Tel" class="form-control" />
                                    <span asp-validation-for="DriverItem.Tel" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="DriverItem.ResidentType" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select asp-for="DriverItem.ResidentType" class="form-control" asp-items="@Html.GetEnumSelectList<ResidentTypeEnum>()"></select>
                                    <span asp-validation-for="DriverItem.ResidentType" class="text-danger"></span>
                                </div>
                                <label asp-for="DriverItem.FirstLicenseIssueDate" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="DriverItem.FirstLicenseIssueDate" class="form-control" />
                                    <span asp-validation-for="DriverItem.FirstLicenseIssueDate" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label asp-for="DriverItem.LicenseType" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select asp-for="DriverItem.LicenseType" asp-items="@Html.GetEnumSelectList<VehicleLicenseType>()" class="form-control"></select>
                                    <span asp-validation-for="DriverItem.LicenseType" class="text-danger"></span>
                                </div>
                                <label asp-for="DriverItem.ResidentType" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <select asp-for="DriverItem.ResidentType" asp-items="@Html.GetEnumSelectList<ResidentTypeEnum>()" class="form-control"></select>
                                    <span asp-validation-for="DriverItem.ResidentType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="DriverItem.LicenseIssue" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="DriverItem.LicenseIssue" class="form-control" />
                                    <span asp-validation-for="DriverItem.LicenseIssue" class="text-danger"></span>
                                </div>
                                <label asp-for="DriverItem.ValidYears" class="col-sm-2 control-label"></label>
                                <div class="col-sm-4">
                                    <input asp-for="DriverItem.ValidYears" class="form-control" />
                                    <span asp-validation-for="DriverItem.ValidYears" class="text-danger"></span>
                                </div>
                            </div>




                            <div class="form-group">
                                <label asp-for="DriverItem.PhotoAvatar" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="DriverItem.PhotoAvatar" class="form-control" />
                                    <span asp-validation-for="DriverItem.PhotoAvatar" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="DriverItem.PhotoDriverLicense" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="DriverItem.PhotoDriverLicense" class="form-control" />
                                    <span asp-validation-for="DriverItem.PhotoDriverLicense" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="DriverItem.ExtraPhoto1" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="DriverItem.ExtraPhoto1" class="form-control" />
                                    <span asp-validation-for="DriverItem.ExtraPhoto1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="DriverItem.ExtraPhoto2" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="DriverItem.ExtraPhoto2" class="form-control" />
                                    <span asp-validation-for="DriverItem.ExtraPhoto2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="DriverItem.ExtraPhoto3" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="DriverItem.ExtraPhoto3" class="form-control" />
                                    <span asp-validation-for="DriverItem.ExtraPhoto3" class="text-danger"></span>
                                </div>
                            </div>
                            <input type="hidden" asp-for="ReturnUrl" />
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            //Dropdownlist Selectedchange event

            $("#town_select").change(function () {
                $("#group_select").empty();
                $.ajax({
                    type: "GET",
                    url: "/Group/GetDropDownList?townId=" + $('#town_select').val(),
                    success: function (states) {
                        $("#group_select").append('<option value="' + "-1" + '">' + "请选择安全单位" + '</option>');
                        debugger;
                        $.each(states, function (i, state) {
                            $("#group_select").append('<option value="' + state.value + '">' + state.text + '</option>');
                            // here we are adding option for States
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            });
        });
    </script>

}

