@page
@model Web.Pages.Driver.DeleteModel

@{
    ViewData["Title"] = "删除驾驶员";
}
<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>确认删除如下驾驶员吗？</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>&gt;
            <a asp-page="/Driver/Index">驾驶员</a>&gt;
            <a asp-page="/Driver/Delete" asp-route-id="@Model.DriverItem.Id">删除驾驶员 @Model.DriverItem.Name</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">
        <div class="row">
            <h3></h3>
        </div>
        <div class="btn-toolbar">

            <div class="btn-group">

                <form method="post" asp-route-id="@Model.DriverItem.Id"  asp-route-returnUrl="@ViewBag.ReturnUrl">
                    <input type="hidden" asp-for="DriverItem.Id" />
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove"></span> 确 认 删 除</button>

                </form>

            </div>
            <div class="btn-group">

                <a class="btn btn-default"  href="@ViewBag.ReturnUrl"><span class="glyphicon glyphicon-trash" /> 放 弃</a>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">【删除】安全单位信息  @Model.DriverItem.Name</h3>
                    </div>
                    <div class="panel-body" style="padding-right:60px;">


                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.DriverItem.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DriverItem.Name)<span style="color:gray">(@Html.DisplayFor(model => model.DriverItem.IdCardNumber))</span>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DriverItem.LicenseType)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DriverItem.LicenseType)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DriverItem.LicenseNumber)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DriverItem.LicenseNumber) 
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
