@page
@model Web.Pages.Driver.DeleteModel

@{
    ViewData["Title"] = "删除驾驶员";
}
<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3><i class="fa fa-question-circle-o"></i>删除驾驶员 @Model.DriverItem.Name</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>&gt;
            <a asp-page="/Driver/Index">驾驶员</a>&gt;
            <a asp-page="/Driver/Delete" asp-route-id="@Model.DriverItem.Id">删除确认</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">
        <div class="row">
            <h3></h3>
        </div>
        <div class="btn-toolbar">

            <div class="btn-group">

                <form method="post" >
                    <input type="hidden" asp-for="DriverItem.Id" />
                    <input type="hidden" asp-for="ReturnUrl" />
                    <button class="btn btn-del-item" type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i>确 认 删 除</button>

                </form>

            </div>
            <div class="btn-group">

                <a class="btn btn-nav-back"  href="@Model.ReturnUrl"><i class="fa fa-reply" aria-hidden="true"></i>放 弃</a>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-trash-o"></i>将要删除如下驾驶员，该操作不可恢复</h3>
                    </div>
                    <div class="panel-body" style="padding-right:60px;">


                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.DriverItem.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DriverItem.Name)<span style="color:gray">(@Html.DisplayFor(model => model.DriverItem.IdCardNumber))</span>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DriverItem.LicenseType)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DriverItem.LicenseType)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DriverItem.LicenseNumber)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DriverItem.LicenseNumber) 
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
