@page
@model Web.Pages.Driver.DetailsModel
@{
    ViewData["Title"] = "【驾驶员】" + Model.DriverItem.Name;
}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3> <i class="fa fa-id-card-o" aria-hidden="true"></i>【驾驶员】@Html.DisplayFor(model => model.DriverItem.Name) </h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>
            &gt; <a asp-page="/Driver/Index">驾驶员</a>
            &gt; <a asp-page="/Driver/Details" asp-route-Id="@Model.DriverItem.Id">@Html.DisplayFor(model => model.DriverItem.Name) </a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">

        <p>
            @if (await Model.CanEdit())
            {
                <a class="btn btn-edit-item" asp-page="./Edit" asp-route-id="@Model.DriverItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 编辑驾驶员
                </a>
                <a class="btn btn-new-item" asp-page="../Vehicle/Create" asp-route-driverId="@Model.DriverItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">
                    <i class="fa fa-plus" aria-hidden="true"></i> 新增车辆
                </a>
                <a class="btn btn-del-item" asp-page="./Delete" asp-route-id="@Model.DriverItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">
                    <i class="fa fa-trash-o"></i> 删除驾驶员
                </a>
             }
        </p>
        <hr />
        <br />
        <h4><i class="fa fa-info-circle" aria-hidden="true"></i>基本信息</h4>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        状态
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverItem.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverItem.Tel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverItem.LicenseType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverItem.LicenseExpiredDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverItem.VehiclesRegistered)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DriverItem.IdCardNumber)
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @(Model.DriverItem.IsValid ? "正常" : "预警")
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DriverItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DriverItem.Tel)
                    </td>
                    <td>
                        <span class="label label-warning">@Html.DisplayFor(model => model.DriverItem.LicenseType)</span>
            
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DriverItem.LicenseExpiredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DriverItem.VehiclesRegistered)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DriverItem.IdCardNumber)
                    </td>
                </tr>

            </tbody>
        </table>
        <br />
        <hr />

        <br />
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-list" aria-hidden="true"></i><b>详细信息</b></a></li>
            <li role="presentation" ><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-truck" aria-hidden="true"></i><b>车辆列表</b></a></li>           
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-photo" aria-hidden="true"></i><b>图片附件</b></a></li>

        </ul>
        <div style="border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;padding:20px;">

            <!-- Tab panes -->
            <div class="tab-content">



                <div role="tabpanel" class="tab-pane" id="home">

                    <br />
                    <h4><i class="fa fa-truck" aria-hidden="true"></i>车辆信息列表</h4>
                    <hr />
                    <table class="table  table-hover">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Vehicles[0].License)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Vehicles[0].Usage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vehicles[0].Brand)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vehicles[0].Type)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Vehicles[0].Color)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Vehicles[0].YearlyAuditDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vehicles[0].InsuranceExpiredDate)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Vehicles[0].TownName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vehicles[0].GroupName)
                                </th>

                                <th width="115"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Vehicles)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.License)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Brand)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Color)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.YearlyAuditDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InsuranceExpiredDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TownName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupName)
                                    </td>




                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-view-item btn-sm" asp-page="../Vehicle/Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a>
                                            @if (await Model.CanEdit())
                                            {
                                                <button type="button" class="btn btn-view-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">向下弹出</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a asp-page="../Vehicle/Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a asp-page="../Vehicle/Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编 辑 </a></li>
                                                    <li><a class="danger" asp-page="../Vehicle/Delete" asp-route-id="@item.Id"> <i class="fa fa-trash-o" aria-hidden="true"></i>删 除 </a></li>

                                                </ul>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

                <div role="tabpanel" class="tab-pane  active" id="profile">
                    <br />
                    <h4><i class="fa fa-list" aria-hidden="true"></i>详细信息</h4>

                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.Id)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.Id)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.TownName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.TownName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.GroupName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.GroupName)
                        </dd>
                       
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.Tel)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.Tel)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.ResidentType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.ResidentType)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.IdCardNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.IdCardNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.FirstLicenseIssueDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.FirstLicenseIssueDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.LicenseType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.LicenseType)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.License)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.License)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.LicenseIssue)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.LicenseIssue)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.ValidYears)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.ValidYears)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.Title)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.WarrantyCode)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.WarrantyCode)
                        </dd>

                    </dl>

                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <br />
                    <h4><i class="fa fa-picture-o" aria-hidden="true"></i>图片附件</h4>

                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.DriverItem.PhotoDriverLicenseBase64)</div>
                                <div class="panel-body">
                                    <img src="data:image;base64,@Model.DriverItem.PhotoDriverLicenseBase64" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.DriverItem.ExtraPhoto1)</div>
                                <div class="panel-body">
                                    <img src="data:image;base64,@Model.DriverItem.ExtraPhoto1Base64" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.DriverItem.ExtraPhoto2)</div>
                                <div class="panel-body">
                                    <img src="data:image;base64,@Model.DriverItem.ExtraPhoto2Base64" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.DriverItem.ExtraPhoto3)</div>
                                <div class="panel-body">
                                    <img src="data:image;base64,@Model.DriverItem.ExtraPhoto3Base64" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>