@page
@model Web.Pages.Driver.DetailsModel
@{
    ViewData["Title"] = "全部安全单位 列表";
}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>@Html.DisplayFor(model => model.DriverItem.Name) </h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>
            &gt; <a asp-page="/Driver/Index">驾驶员</a>
            &gt; <a asp-page="/Driver/Details" asp-route-Id="@Model.DriverItem.Id">@Html.DisplayFor(model => model.DriverItem.Name) </a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">

        <p>
            @if (await Model.CanEdit())
            {
                <a class="btn btn-new-item" asp-page="./Edit" asp-route-id="@Model.DriverItem.Id"><span class="glyphicon glyphicon-edit"></span> 编辑驾驶员</a>
                <a class="btn btn-new-item" asp-page="../Vehicle/Create"><span class="glyphicon glyphicon-plus"></span> 新增车辆</a>
            }
            <a class="btn btn-default" href="@ViewBag.ReturnUrl"><span class="glyphicon glyphicon-level-up"></span> 返 回 </a>
        </p>
        <hr />
        <h4>基本信息</h4>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverItem.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverItem.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverItem.IdCardNumber)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        总数
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DriverItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DriverItem.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DriverItem.IdCardNumber)
                    </td>
                </tr>            
               
            </tbody>
        </table>
        <hr />

        <br />
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><b>车辆列表</b></a></li>
            <li role="presentation" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><b>详细信息</b></a></li>           
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><b>图片附件</b></a></li>

        </ul>
        <div style="border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;padding:20px;">

            <!-- Tab panes -->
            <div class="tab-content">

              

                <div role="tabpanel" class="tab-pane  active" id="home">

                    <br />
                    <h4>车辆信息列表</h4>
                    <hr />
                    <table class="table  table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DriverItem.Vehicles[0].TownName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DriverItem.Vehicles[0].GroupName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DriverItem.Vehicles[0].License)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DriverItem.Vehicles[0].Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DriverItem.Vehicles[0].Usage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DriverItem.Vehicles[0].Brand)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DriverItem.Vehicles[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DriverItem.Vehicles[0].Color)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.DriverItem.Vehicles[0].LastRegisterDate)
                                </th>

                              





                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DriverItem.Vehicles)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TownName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.License)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Brand)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Color)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastRegisterDate)
                                    </td>

                                   

                                  

                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary btn-sm" asp-page="../Vehicle/Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-zoom-in"></span> 查 看 </a>
                                            @if (await Model.CanEdit())
                                            {
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">向下弹出</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a asp-page="../Vehicle/Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-zoom-in"></span> 查 看 </a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a asp-page="../Vehicle/Edit" asp-route-id="@item.Id"> <span class="glyphicon glyphicon-edit"></span> 编 辑 </a></li>
                                                    <li><a class="danger" asp-page="../Vehicle/Delete" asp-route-id="@item.Id"> <span class="glyphicon glyphicon-remove"></span> 删 除 </a></li>

                                                </ul>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>

                <div role="tabpanel" class="tab-pane" id="profile">
                    <br />
                    <h4>详细信息</h4>

                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.Id)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.Id)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.TownName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.GroupName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.Gender)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.Gender)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.Tel)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.Tel)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.LivingAddress)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.LivingAddress)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.IdCardNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.IdCardNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.FirstLicenseIssueDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.FirstLicenseIssueDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.LicenseType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.LicenseType)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.License)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.License)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.LicenseIssue)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.LicenseIssue)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.ValidYears)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.ValidYears)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.Title)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.Title)
                        </dd>
                       
                        <dt>
                            @Html.DisplayNameFor(model => model.DriverItem.WarrantyCode)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DriverItem.WarrantyCode)
                        </dd>
                       
                    </dl>

                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <br />
                    <h4>图片附件</h4>

                    <hr />

                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.DisplayNameFor(model => model.DriverItem.PhotoIdCard1Base64)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.DriverItem.PhotoIdCard1Base64" />
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.DisplayNameFor(model => model.DriverItem.PhotoIdCard2Base64)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.DriverItem.PhotoIdCard2Base64" />
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.DisplayNameFor(model => model.DriverItem.PhotoDriverLicenseBase64)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.DriverItem.PhotoDriverLicenseBase64" />
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">@Html.DisplayNameFor(model => model.DriverItem.PhotoWarrantyBase64)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.DriverItem.PhotoWarrantyBase64" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>