@page
@model Web.Pages.Driver.IndexModel
@using Socona.ImVehicle.Infrastructure.Extensions
@{
    ViewData["Title"] = "驾驶员 列表";
}
<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3><i class="fa fa-id-card-o" aria-hidden="true"></i> 驾驶员 列表</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>&gt;
            <a asp-page="/Driver/Index">驾驶员</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">

        <p>
            @if (await Model.CanEdit())
    {
        <a class="btn btn-new-item" asp-page="Create" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path)"> <i class="fa fa-plus" aria-hidden="true"></i> 新建驾驶员</a>
        <a class="btn btn-edit-item" asp-page="Query" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path)"> <i class="fa fa-search" aria-hidden="true"></i> 查找驾驶员</a>
        <a class="btn btn-edit-item" href="/Driver/ExportExcel">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i> 导出电子表格
        </a>
}
        </p>
        <hr />
        <table id="driver-table" class="table table-hover">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Drivers[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drivers[0].IdCardNumber)
                    </th>



                    <th>
                        @Html.DisplayNameFor(model => model.Drivers[0].LicenseType)
                    </th>




                    <th>
                        @Html.DisplayNameFor(model => model.Drivers[0].LicenseExpiredDate)
                    </th>

                    
                    <th>
                        @Html.DisplayNameFor(model => model.Drivers[0].VehiclesRegistered)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drivers[0].TownName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drivers[0].GroupName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Drivers[0].Tel)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Drivers)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                            @if (!item.IsValid)
                            {
                                <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdCardNumber)
                        </td>

                        <td>
                            <span class="label label-warning"><b>@Html.DisplayFor(modelItem => item.LicenseType)</b></span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LicenseExpiredDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.VehiclesRegistered)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TownName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tel)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-view-item btn-sm" asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a>
                                @if (await Model.CanEdit())
                                {
                                    <button type="button" class="btn btn-view-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">向下弹出</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编 辑 </a></li>
                                        <li><a class="danger" asp-page="./Delete" asp-route-id="@item.Id" asp-route-returnUrl="/Driver/Index"> <i class="fa fa-trash-o" aria-hidden="true"></i>删 除 </a></li>

                                    </ul>
                                }
                            </div>
                        </td>
                    </tr>
                }
                <tr id="loading-mark" hidden>
                    <td colspan="9" align="center">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        <span class="sr-only">正在加载...</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<script id="driverRowTmpl" type="text/x-jsrender">
    <tr>

        <td>
            {{:name}}
        </td>
        <td>
            {{:idCardNumber}}
        </td>

        <td>
            <span class="label label-warning"><b>{{licenseType:licenseType}}</b></span>
        </td>
        <td>
            {{cnDate:licenseExpiredDate}}
        </td>

        <td>
            {{:vehiclesRegistered}}
        </td>
        <td>
            {{:townName}}
        </td>
        <td>
            {{:groupName}}
        </td>
        <td>
            {{:tel}}
        </td>
        <td>
            <div class="btn-group">
                <a class="btn btn-view-item btn-sm" href="/Driver/Details?id={{:id}}"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a>
                @if (await Model.CanEdit())
                {
                    <button type="button" class="btn btn-view-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">向下弹出</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/Driver/Details?id={{:id}}"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/Driver/Edit?id={{:id}}&returnUrl=@Request.Path"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>编 辑 </a></li>
                        <li><a class="danger" href="/Driver/Delete?id={{:id}}&returnUrl=@Request.Path"> <i class="fa fa-trash-o" aria-hidden="true"></i>删 除 </a></li>

                    </ul>
                }
            </div>
        </td>
    </tr>

</script>

@section Scripts {

    <script type="text/javascript">



        var pageSize = 20;
        var pageIndex = 0;
        var loading = false;
        var completed = false;

        $.views.converters({
            cnDate: function (value) {
                if (value == null)
                    return "";
                return (new Date(value)).toLocaleDateString();
            },
            licenseType: function (value) {
                var map = @(Html.EnumToHtmlString<Socona.ImVehicle.Core.Data.VehicleLicenseType>());
                for (var i = 0; i < map.length; i++) {
                    if (map[i].value == value) {
                        return map[i].name;
                    }
                }
            },
            genderType: function (value) {
                var map = @(Html.EnumToHtmlString<Socona.ImVehicle.Core.Data.GenderType>());
                for (var i = 0; i < map.length; i++) {
                    if (map[i].value == value) {
                        return map[i].name;
                    }
                }
            }
        })
        $(document).ready(function () {
                        GetData();

            $(window).scroll(function () {
                            if ($(window).scrollTop() ==
                    $(document).height() - $(window).height()) {
                                if (loading == false && completed == false) {
                                    GetData();
                                }
                            }
                        });
                    });

        function GetData() {
            $.ajax({
                type: 'GET',
                url: '/Driver/LoadData',
                data: { "page": pageIndex, "pageSize": pageSize },
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        if (data.length == 0) {
                            completed = true;
                            return;
                        }

                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            if (item.isValid) {
                                item.hiddenText = "style='display:none'";
                            }
                            var tmpl = $.templates('#driverRowTmpl')
                            var trHtml = tmpl.render(item);
                            $("#driver-table tr:last").before(trHtml);

                        }
                        pageIndex++;
                    }

                },
                beforeSend: function () {
                    loading = true;
                    $("#loading-mark").show();
                },
                complete: function () {
                    loading = false;
                    $("#loading-mark").hide();
                },
                error: function () {
                    alert("Error while retrieving data!");
                }
            });
        }
    </script>


}