@page
@model Web.Pages.Vehicle.DeleteModel

@{
    ViewData["Title"] = "删除车辆";
}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>确认删除如下车辆吗？</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>&gt;
            <a asp-page="/Vehicle/Index">安全单位</a>&gt;
            <a asp-page="/Vehicle/Delete" asp-route-id="@Model.VehicleItem.Id">删除车辆 @Model.VehicleItem.LicenceNumber</a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">
        <div class="row">
            <h3></h3>
        </div>
        <div class="btn-toolbar">

            <div class="btn-group">

                <form method="post" >
                    <input type="hidden" asp-for="VehicleItem.Id" />
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove"></span> 确 认 删 除</button>

                </form>

            </div>
            <div class="btn-group">

                <a class="btn btn-default"  href="@Model.ReturnUrl"><span class="glyphicon glyphicon-trash" /> 放 弃</a>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">【删除】车辆  @Model.VehicleItem.LicenceNumber</h3>
                    </div>
                    <div class="panel-body" style="padding-right:60px;">


                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.VehicleItem.LicenceNumber)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.VehicleItem.LicenceNumber)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.VehicleItem.Type)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.VehicleItem.Type)
                            </dd>                            
                            <dt>
                                @Html.DisplayNameFor(model => model.VehicleItem.Usage)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.VehicleItem.Usage) 
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

