@page
@model Web.Pages.Vehicle.DetailsModel

@{
    ViewData["Title"] = "车辆列表";
}
<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3><i class="fa fa-truck" aria-hidden="true"></i>【车辆】@Html.DisplayFor(model => model.VehicleItem.License) </h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>
            &gt; <a asp-page="/Vehicle/Index">车辆</a>
            &gt; <a asp-page="/Vehicle/Details" asp-route-Id="@Model.VehicleItem.Id">@Html.DisplayFor(model => model.VehicleItem.License) </a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">

        <p>
            @if (await Model.CanEdit())
            {
                <a class="btn btn-new-item" asp-page="./Edit" asp-route-id="@Model.VehicleItem.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)">  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 编辑车辆</a>
           
            }
  
        </p>
        <hr />
        <h4><i class="fa fa-info-circle" aria-hidden="true"></i>基本信息</h4>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        状态
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleItem.License)
                    </th>                   
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleItem.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleItem.TownName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleItem.GroupName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleItem.YearlyAuditDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleItem.InsuranceExpiredDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleItem.DumpDate)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @(Model.VehicleItem.IsValid?"正常":"预警")
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.VehicleItem.License)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.VehicleItem.Brand) 
                        @if (Model.VehicleItem.Name != null)
                        {
                            <span> - @Html.DisplayFor(model => model.VehicleItem.Name) </span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.VehicleItem.TownName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.VehicleItem.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.VehicleItem.YearlyAuditDate)
                        @if (!Model.VehicleItem.IsAuditValid)
                        {
                            <i class="fa fa-exclamation-circle text-danger"> </i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.VehicleItem.InsuranceExpiredDate)
                        @if (!Model.VehicleItem.IsInsuranceValid)
                        {
                            <i class="fa fa-exclamation-circle text-danger"> </i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.VehicleItem.DumpDate)
                        @if (!Model.VehicleItem.IsDumpValid)
                        {
                            <i class="fa fa-exclamation-circle text-danger"> </i>
                        }
                    </td>
                </tr>

            </tbody>
        </table>
        <hr />

        <br />
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><b><i class="fa fa-list" aria-hidden="true"></i>详细信息</b></a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><b><i class="fa fa-picture-o" aria-hidden="true"></i>图片附件</b></a></li>

        </ul>
        <div style="border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;padding:20px;">

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                    <br />
                    <h4><i class="fa fa-list" aria-hidden="true"></i> 详细信息</h4>

                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.TownName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.TownName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.GroupName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.GroupName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.License)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.License)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.Brand)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.Brand)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.Color)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.Color)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.Usage)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.Usage)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.Type)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.Type)
                        </dd>
                       
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.VehicleStatus)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.VehicleStatus)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.RealOwner)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.RealOwner)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.Agent)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.Agent)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.ProductionDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.ProductionDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.DumpDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.DumpDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.YearlyAuditDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.YearlyAuditDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.InsuranceExpiredDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.InsuranceExpiredDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.RegisterDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.RegisterDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.DriverName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.DriverName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleItem.Comment)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleItem.Comment)
                        </dd>

                    </dl>

                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <br />
                    <h4><i class="fa fa-picture-o" aria-hidden="true"></i> 图片附件</h4>

                    <hr />
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.VehicleItem.PhotoLicenseBase64)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.VehicleItem.PhotoLicenseBase64" />
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.VehicleItem.PhotoFrontBase64)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.VehicleItem.PhotoFrontBase64" />
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.VehicleItem.PhotoRearBase64)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.VehicleItem.PhotoRearBase64" />
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.VehicleItem.PhotoAuditBase64)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.VehicleItem.PhotoAuditBase64" />
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.VehicleItem.PhotoInsuaranceBase64)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.VehicleItem.PhotoInsuaranceBase64" />
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-picture-o" aria-hidden="true"></i>@Html.DisplayNameFor(model => model.VehicleItem.PhotoGpsBase64)</div>
                        <div class="panel-body">
                            <img src="data:image;base64,@Model.VehicleItem.PhotoGpsBase64" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>