@page
@model Web.Pages.Towns.DetailsModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = Html.DisplayFor(model => model.TownItem.Name);
}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>@Html.DisplayFor(model => model.TownItem.Name) </h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>
            &gt; <a asp-page="/Town/Index">街道</a>
            &gt; <a asp-page="/Town/Details?Id=@Model.TownItem.Id">@Html.DisplayFor(model => model.TownItem.Name) </a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container">

        <p>
            @if (await Model.CanEdit())
            {
                <a class="btn btn-new-item" asp-page="../Group/Create" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"><span class="glyphicon glyphicon-plus"></span> 新增安全单位</a>
                <a class="btn btn-new-item" asp-page="../Vehicle/Create" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"><span class="glyphicon glyphicon-plus"></span> 新增车辆</a>
                <a class="btn btn-new-item" asp-page="../Driver/Create" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"><span class="glyphicon glyphicon-plus"></span> 新增驾驶员</a>
            }
          
        </p>
        <hr />
        <h4>基本信息</h4>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TownItem.GroupCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TownItem.VehicleCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TownItem.DriverCount)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        总数
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TownItem.GroupCount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TownItem.VehicleCount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TownItem.DriverCount)
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        其中：处于安全状态
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TownItem.ValidCount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TownItem.VehicleCount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TownItem.DriverCount)
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        处于危险状态
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TownItem.InvalidCount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TownItem.VehicleCount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TownItem.DriverCount)
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />

        <br />
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><b>安全单位列表</b></a></li>
            <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><b>车辆列表</b></a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><b>驾驶员列表</b></a></li>

        </ul>
        <div style="border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;padding:20px;">

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="profile">
                    <br />
                    <h4>安全单位列表</h4>

                    <hr />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Groups[0].Code)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Groups[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Groups[0].Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Groups[0].ChiefName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Groups[0].Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Groups[0].License)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Groups[0].VehicleCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Groups[0].InvalidCount)
                                </th>
                                <th width="90"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TownItem.Groups)
                            {

                                <tr @((item.InvalidCount > 0) ? "class=bg-danger" : "class=")>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        <b>@Html.DisplayFor(modelItem => item.ChiefTitle)</b>
                                        @Html.DisplayFor(modelItem => item.ChiefName)
                                        <span style="color:gray"> (@Html.DisplayFor(modelItem => item.ChiefTel))</span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.License)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VehicleCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvalidCount)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary btn-sm" asp-page="../Group/Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-zoom-in"></span> 查 看 </a>
                                            @if (await Model.CanEdit())
                                            {
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">向下弹出</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a asp-page="../Group/Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-zoom-in"></span> 查 看 </a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a asp-page="../Group/Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"> <span class="glyphicon glyphicon-edit"></span> 编 辑 </a></li>
                                                    <li><a class="danger" asp-page="../Group/Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"> <span class="glyphicon glyphicon-remove"></span> 删 除 </a></li>

                                                </ul>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                <div role="tabpanel" class="tab-pane " id="home">

                    <br />
                    <h4>车辆信息列表</h4>
                    <hr />
                    <table class="table  table-hover">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Vehicles[0].GroupName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Vehicles[0].License)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Vehicles[0].Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Vehicles[0].Usage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Vehicles[0].Brand)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Vehicles[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Vehicles[0].Color)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Vehicles[0].LastRegisterDate)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Vehicles[0].DriverName)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Vehicles[0].DriverTel)
                                </th>





                                <th width="90"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TownItem.Vehicles)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.License)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Brand)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Color)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastRegisterDate)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DriverName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DriverTel)
                                    </td>

                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary btn-sm" asp-page="../Vehicle/Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-zoom-in"></span> 查 看 </a>
                                            @if (await Model.CanEdit())
                                            {
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">向下弹出</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a asp-page="../Vehicle/Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-zoom-in"></span> 查 看 </a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a asp-page="../Vehicle/Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"> <span class="glyphicon glyphicon-edit"></span> 编 辑 </a></li>
                                                    <li><a class="danger" asp-page="../Vehicle/Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"> <span class="glyphicon glyphicon-remove"></span> 删 除 </a></li>

                                                </ul>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <br />
                    <h4>驾驶员列表</h4>

                    <hr />

                    <table class="table  table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Drivers[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Drivers[0].Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Drivers[0].IdCardNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Drivers[0].LicenseType)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Drivers[0].License)
                                </th>




                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Drivers[0].LicenseIssue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Drivers[0].ValidYears)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Drivers[0].VehiclesRegistered)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.TownItem.Drivers[0].Tel)
                                </th>
                                <th width="90"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TownItem.Drivers)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdCardNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LicenseType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.License)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LicenseIssue)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ValidYears)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VehiclesRegistered)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tel)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-primary btn-sm" asp-page="../Driver/Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-zoom-in"></span> 查 看 </a>
                                            @if (await Model.CanEdit())
                                            {
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">向下弹出</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a asp-page="../Driver/Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-zoom-in"></span> 查 看 </a></li>
                                                    <li role="separator" class="divider"></li>
                                                    <li><a asp-page="../Driver/Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+HttpContext.Request.QueryString)"> <span class="glyphicon glyphicon-edit"></span> 编 辑 </a></li>
                                                    <li><a class="danger" asp-page="../Vehicle/Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Url.GetLocalUrl(Request.Path+Request.QueryString)"> <span class="glyphicon glyphicon-remove"></span> 删 除 </a></li>

                                                </ul>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>