@page
@model Web.Pages.Towns.IndexModel

@{
    ViewData["Title"] = "街道/镇 列表";
}

<h2>街道/镇 列表</h2>

<hr/>
  
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TownList[0].Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TownList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TownList[0].GroupCount)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TownList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupCount)
                </td>
                <td><a asp-page="./Details" asp-route-id="@item.Id">查看详细</a></td>
            </tr>
        }
    </tbody>
</table>
