@page
@model Web.Pages.Town.IndexModel

@{
    ViewData["Title"] = "街道/镇 列表";
}
<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3><i class="fa fa-map-o"></i> 街道/镇 列表</h3>
        </div>
        <div class="pull-right">
            <a asp-page="/">主页</a>&gt;
            <a asp-page="/Town">街道</a>
        </div>
    </div>
</section>
<section class="main_feature_area">

    <div class="container">
        <p>
            @if (await Model.CanEdit())
            {



            }

        </p>

        <hr />
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TownList[0].Code)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.TownList[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TownList[0].StatusText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TownList[0].GroupCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TownList[0].VehicleCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TownList[0].DriverCount)
                    </th>
                    <th width="115"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TownList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                            @if (!item.IsValid)
                            {
                                <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DriverCount)
                        </td>

                        <td>
                            <div class="btn-group">
                                <a class="btn btn-view-item btn-sm" asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-search-plus" aria-hidden="true"></i> 查 看 </a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

