@page
@model Web.Pages.News.DetailsModel

@{
    ViewData["Title"] = "查看新闻";
}

<section class="banner_area">
    <div class="container">
        <div class="pull-left">
            <h3>@Html.DisplayFor(model => model.NewsItem.Title) </h3>
        </div>
        <div class="pull-right">
            <a asp-page="/Index">主页</a>
            &gt; <a asp-page="/News/Index">新闻</a>
            &gt; <a asp-page="/News/Details" asp-route-Id="@Model.NewsItem.Id">查看新闻 </a>
        </div>
    </div>
</section>
<section class="main_feature_area">
    <div class="container" style="margin-left:30px;margin-right:30px;margin-bottom:30px;">    
        <div class="row" style="margin-left:30px;margin-right:30px;">
            <div class="col-sm-1">日期:</div>
            <div class="col-sm-2">@Html.DisplayFor(model => model.NewsItem.PublishDate)</div>
            <div class="col-sm-1">来源:</div>
            <div class="col-sm-2">@Html.DisplayFor(model => model.NewsItem.Source)</div>

        </div>
        <hr />

        <br />
        @if (Model.NewsItem.Area == NewsAreaType.ImageNews)
        {
            <div class="row" style="margin-left:30px;margin-right:30px;text-align:center">
                <img style="margin-left:auto;margin-right:auto;align-self:center" width="600" src="data:image;base64,@Model.NewsItem.ImageBase64" />
            </div>
        }
        <div class="row" style="margin-left:30px;margin-right:30px; margin-top:20px;">
            @Html.Raw(Model.NewsItem.Content)
        </div>
    </div>
</section>